body {
    padding-top: 3.8rem;
}

.index .content h2::first-letter {
    text-transform: uppercase;
}

.form label {
    width: 350px;
    display: block;
    margin: 8px;
}

.form span {
    display: block;
}

.form input {
    width: 250px;
}

.index input, .index button {
    display: block;
}

.index label, .index .song {
    margin-top: 10px;
}

.error {
    color: red;
}

.bg {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.login-bg {
    background-image: url("../images/focaccia.jpg");  
}

.register-bg {
    background-image: url("../images/bread.jpg");
}

.index-bg {
    background-image: url("../images/breaking-bread.jpg");
    background-size: contain;
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.logout-bg {
    background-image: url("../images/focc.jpg");
    background-size: cover;
    object-fit: contain;
    width: 100%;
    height: 100%;
}